@model WebUI.Models.SearchOptionsModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Search", "Search", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SearchOptionsModel</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GroupNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GroupNumber)
                @Html.ValidationMessageFor(model => model.GroupNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Speciality, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Speciality, new SelectList(Model.Specialities, "SpecialityID", "Name"))
                @Html.ValidationMessageFor(model => model.Speciality)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Progress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Progress)
                @Html.ValidationMessageFor(model => model.Progress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RecordBookNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RecordBookNumber)
                @Html.ValidationMessageFor(model => model.RecordBookNumber)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
}