@model IEnumerable<WebUI.Models.StudentViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if(Model.Count() > 0)
{ 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordBookNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialityID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecordBookNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specialities.FirstOrDefault(s => s.SpecialityID == item.SpecialityID).Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentID }, new {@class = "btn btn-default"})
            @Html.ActionLink("Delete", "Delete", new { id = item.StudentID }, new { @class = "btn btn-default" })
        </td>
    </tr>
}

</table>
}
